.hero--section {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/pexels-bg.jpg");
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.45em;
  padding: 0 2em;
}
nav a {
  color: white;
  text-decoration: none;
}
.hero--section h1 {
  margin-bottom: 0.25em;
  color: white;
}

.search--container {
  display: flex;
}

.search--container input {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}

.center--container button {
  padding: 1em 5em;
  border-radius: 50px;
  font-size: 1em;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}

.center--container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center--wrap {
  margin-bottom: 10em;
}

.center--wrap h1 {
  margin-bottom: 0.35em;
}
.center--container h1 {
  text-align: center;
  font-size: 5em;
}

.search--box {
  width: 50em;
  padding: 1em 1em;
  border-radius: 50px;
  font-size: 1em;
  margin-right: 1em;
}

nav {
  color: white;
  padding-top: 1em;
}

/* Media query for screens with a minimum width of 768px (tablets) */
@media screen and (min-width: 768px) {
    .center--container .center--wrap h1{
      font-size: 10px;
    }
  /* Additional styles for tablets */
}

/* Media query for screens with a minimum width of 992px (small desktops) */
@media screen and (min-width: 992px) {
  
  /* Additional styles for small desktops */
}

/* Media query for screens with a minimum width of 1200px (large desktops) */
@media screen and (min-width: 1200px) {
  
  /* Additional styles for large desktops */
}