.hero--section {
  height: 100vh;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1025469/pexels-photo-1025469.jpeg");
  background-size: cover;
  
}

nav {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  font-size: 1.5em;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero--section h1 {
  margin-bottom: 0.25em;
  color: white;
}

.search--container {
  display: flex;
}

.search--container input {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}

.center--container button {
  padding: 1em 5em;
  border-radius: 50px;
  font-size: 1em;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}

.center--container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center--wrap {
  margin-bottom: 13em;
}

.center--wrap h1 {
  margin-bottom: 0.5em;
}

.center--container h1 {
  text-align: center;
  font-size: 3.5em;
}

.search--box {
  width: 40em;
  padding: 1em 1em;
  border-radius: 50px;
  font-size: 1em;
  margin-right: 1em;
}

nav {
  color: white;
  padding-top: 1em;
}
button {
  padding: 1em 0;
  width: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#suggestion {
  position: relative;
  height: 20%;
  width: 100%;
  /* background-color: blue; */
  top: 1.2em;
  border-radius: 10px;
}
/* Media query for screens with a maximum width of 767px (mobile) */
@media screen and (max-width: 767px) {
  /* Additional styles for mobile */
  .hero--section h1 {
    font-size: 1.5em; /* Adjust font size for mobile */
  }

  .center--container h1 {
    position: relative;
    font-size: 2.7em; /* Adjust font size for mobile */
    top: -3em;
  }

  .search--container {
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: -6em;
  }
  .search--box {
    height: 7% !important;
    width: 80%;
    position: relative;
  }
  button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em !important;
    width: 1em !important;
    top: 1em;
    /* border-radius: 100% !important; */
  }
  /* button p{
    display: none;
  } */
  #suggestion {
    top: -30%;
    overflow-x: auto;
  }
}

/* Media query for screens with a minimum width of 768px and maximum width of 991px (tablets) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Additional styles for tablets */

  .hero--section {
    height: 100vh; /* Reduce hero section height for small desktops */
  }

  .hero--section h1 {
    font-size: 4.5em !important; /* Adjust font size for tablets */
  }

  .center--container h1 {
    font-size: 3em; /* Adjust font size for tablets */
  }

  .search--container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    position: relative;
    top: 10px;
  }
  #suggestion {
    position: relative;
    left: 5%;
    height: 15%;
    width: 90%;
  }
}

/* Media query for screens with a minimum width of 992px (small desktops and above) */
@media screen and (min-width: 992px) {
  /* Additional styles for small desktops and above */
  .hero--section {
    height: 100vh; /* Reduce hero section height for small desktops */
  }

  .center--container h1 {
    font-size: 4em; /* Adjust font size for small desktops */
  }
}
