#heading {
  margin-top: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.secondary--header {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.secondary--header nav {
  display: flex;
  align-items: center;
  padding: 0 1 em;
}

#sort {
  width: 100%;
  display: flex;
  justify-content: end;
}

#sorting--dropdown {
  width: 8em;
  border: none;
  font-size: 1.3em;
  border: 1px solid black;
  padding: 0 2em;
}
