#container{
    position: relative;
    height: 90vh;
    width: 30vw;
    border-radius: 10px;
    transition: all ease 1s;
    border: 1px solid black;
    margin: 1% 2%;
    overflow: hidden;
}
#container i{
    display: none;
    font-size: 2.4em;
    background-color : rgba(255, 255, 255, 0.687);
    border : 1px solid rgba(0, 0, 0, 0.438);
    border-radius: 5px;
    position: absolute;
    bottom : 1%;
    right: 1%;
    color: rgb(130, 130, 130);
    z-index: 99;
}

#container:hover i{
    display: inline;
}
#container-about{
    position: absolute;
    height: 10%;
    width: 80%;
    bottom : 0%;
    display: flex;
    align-items: center;
    gap: 10px;
}
#author-profile{
    height: 100%;
    width: 15%;
    border-radius: 50%;
    background-color: blue;
}
#author-about{
    font-size: 1.2em;
}
